#include <windows.h>
#include <windowsx.h>
#include "Resource.h"


IDD_PROXY_CONFIG DIALOGEX 0, 0, 250, 150
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "代理配置"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "代理服务器:",IDC_STATIC,10,10,60,10
    EDITTEXT        IDC_PROXY_SERVER,80,10,150,14,ES_AUTOHSCROLL
    LTEXT           "代理分组:",IDC_STATIC,10,30,60,10
    COMBOBOX        IDC_PROXY_GROUP,80,30,150,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "添加分组",IDC_ADD_GROUP,80,50,60,14
    DEFPUSHBUTTON   "确定",IDOK,130,120,50,14
    PUSHBUTTON      "取消",IDCANCEL,190,120,50,14
END

IDD_ADD_GROUP DIALOGEX 0, 0, 200, 80
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "添加代理分组"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "分组名称:",IDC_STATIC,10,10,60,10
    EDITTEXT        IDC_GROUP_NAME,80,10,100,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "确定",IDOK,50,40,50,14
    PUSHBUTTON      "取消",IDCANCEL,100,40,50,14
END
